<nav class="navbar navbar-inverse navbar-fixed-top" style="height:initial;">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand left" href="#/">ToDo App</a>
		</div>
	</div>
</nav>
<div class="container content">
    <form class="form-signin" ng-submit="login();">
        <h2 class="form-signin-heading center">Sign In</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" name="username" autofocus="" ng-model="user.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password" ng-model="user.password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <!--<h5 class="center bold">OR</h5>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login With Facebook</button>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Login With Google</button>-->
    </form>
</div>